extends ../layout

block content
    a(href='/bicicletas') VOLVER
    br
    br
    br

    h1 Nueva Bicicleta
    
    br
    br

    form(action='/bicicletas/crear' method='POST')
        label(for="id") ID:
        input(type="text", name="id")
        br
        label(for="id") Color:
        input(type="text", name="color")
        br
        label(for="Modelo") Modelo:
        input(type="text", name="modelo")
        br
        label(for="lat") Latitud:
        input(type="text", name="lat")
        br
        label(for="lng") Longitud:
        input(type="text", name="lng")
        br
        br
        input(type="submit", value="OK")