extends ../layout

block content

    span(class="label-info")
        a(href='/bicicletas/crear') Nueva Bicicleta
    br
    br
    table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col')
        tbody
            each bici in bicis
                tr
                    td(scope='row')
                        = bici.code
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a(href='/bicicletas/' + bici.code + '/update') Editar
                    td
                        form(method='POST' action='bicicletas/' + bici.code + '/delete')
                            input(type="hidden", name="id" value= bici.code)
                            button(type="submit" name='submit_param' value='submit_value')
                                = 'Eliminar'
                    