extends ../layout

block content
    a(href='/bicicletas') VOLVER
    br
    br
    br

    h1 Nueva Bicicleta
    
    br
    br

    form(action=`/bicicletas/${bici.code}/update` method='POST')
        label(for="id") ID:
        input(type="text" name="id" value=bici.code)
        br
        label(for="id") Color:
        input(type="text" name="color" value=bici.color)
        br
        label(for="Modelo") Modelo:
        input(type="text" name="modelo" value=bici.modelo)
        br
        label(for="lat") Latitud:
        input(type="text" name="lat" value=bici.ubicacion[0])
        br
        label(for="lng") Longitud:
        input(type="text" name="lng" value=bici.ubicacion[1])
        br
        br
        input(type="submit" value="OK")