/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main_map {
  height: 600px;
}

td, th {
  font-size: 12px;
  background-color: aqua;
  border-radius: 22%;
  border-style: inset;
  border-width: 2px;
  border-color: black;
}

.label-info {
  color: white;
  padding: 8px;
  background-color: #2196F3;
  border-radius: 22%;
  border-style: inset;
  border-width: 2px;
}

a {
  color: black;
} */

@import url(//fonts.googleapis.com/css?family=ZCOOL+KuaiLe);
body {
    font-family: 'ZCOOL KuaiLe';

}
/* /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body {
        background-color: #C7FCF9;
        }
 }

/* /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    body {
        background-color: #C7FCF9;   
     }
 }

/* /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    body {
        background-color: #C7FCF9;    
    }
 }

/* /* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) { 
    body {
        background-color: #C7FCF9;
    }
 }
