extends ../layout

block content
    style.
        .filas:hover { background-color: #56C1BB; }
    br
    br
    table(class='table')
        thead
            tr
                th(scope='col') USUARIO
                th(scope='col') EMAIL
                th(scope='col') TOKEN
                th(scope='col') VERIFICADO
                th(scope='col') ELIMINAR
        tbody
            if usuarios
                each usuario in usuarios
                    tr.filas
                        td(scope='row')
                            = usuario.nombre
                        td= usuario.email
                        td 
                            if usuario._tokenID
                                = usuario._tokenID.token
                        td= usuario.verificado
                        td
                            form(method='POST' action='admin/' + usuario.id + '/delete')
                                input(type="hidden", name="id" value= usuario.id)
                                button(type="submit" name='submit_param' value='submit_value')
                                    = 'Eliminar'
            else
                script.
                    alert("FALLO AL ARGAR USUARIOS");
    if obj
        p
            = obj                    