extends ../layout

block content
    style.
        #registrate:hover {background-color: #98fb98;}
        .card-body { background-color: white; border-radius: 25px; border-color: #007bff; border-style: solid; border-width: 5px; padding-right: 40px; padding-left: 40px; }
        .container-fluid { margin-top: 30px; }
        #caption { background-color: #bee5eb; border-radius: 25px; border-color: #006400; border-style: solid; border-width: 2.5px; padding-top: 9px; }

    .row
    .col-sm-9.col-md-7.col-lg-5.mx-auto
        .card-body
            br
            #caption
                h4.card-title.text-center(style='color: black;') Una pregunta al día
            br        
            h3.card-title.text-center(style='color: black;') Iniciar Sesión
            if mensaje
                h3#errLogIn.card-title.text-center(style='color: red;') 
                    = mensaje.msg1
                h3#errLogInInfo.card-title.text-center(style='color: red;') 
                    = mensaje.msg2
            form(action="/juego", method="POST")
                .form-group
                    label(for='exampleInputEmail1') Email
                    input#email.form-control(type='email', name='email' aria-describedby='emailHelp', placeholder='Enter email')
                .form-group
                    label(for='exampleInputPassword1') Password
                    input#password.form-control(type='password', name='password' placeholder='Password')
                    small#emailHelp.form-text.text-muted APP EN DESARROLLO, NO UTILIZAR CONTRASEÑAS REALES.
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Recuerdame
                br
                button.btn.btn-primary.btn-lg.btn-block(type='submit') Adelante
                br
                .alert.alert-info(id='registrate' role='alert', style='text-align: center;')
                    | ¿Aún no juegas?
                    a.alert-link(href='/juego/registrarse')  &nbspResgistrate
    if mensaje
        script.
            setTimeout(function(){
                $('#errLogIn').remove();
            }, 5000);
            setTimeout(function(){
                $('#errLogInInfo').remove();
            }, 6000);




