extends ../layout

block content
    .row
        .col-sm-9.col-md-7.col-lg-5.mx-auto
            .card-body
                br
                #caption
                    h4.card-title.text-center(style='color: black;') Registro de nuevo usuario
                br
                form(action='/juego/registrarse' method='POST')
                    .form-group
                        label(for='exampleInputPassword1') Introduce un nombre de usuario
                        input#usuario.form-control(type='text', name='usuario', placeholder='Usuario', value = usuario.nombre)
                        if errors.nombre
                            .alert.alert-danger(role='alert')
                                = errors.nombre.message
                    .form-group
                        label(for='exampleInputEmail1') Introduce tu email
                        input#email.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email', value = usuario.email)
                        if errors.email
                            .alert.alert-danger(role='alert')
                                = errors.email.message
                    .form-group
                        label(for='exampleInputPassword1') Contraseña
                        input#password.form-control(type='password', name='password' placeholder='Password')
                        if errors.password
                            .alert.alert-danger(role='alert')
                                = errors.password.message  
                    .form-group
                        label(for='exampleInputPassword1') Repite la contraseña
                        input#repetida_password.form-control(type='password', name='repetida_password' placeholder='Password')
                        if errors.repetida_password
                            .alert.alert-danger(role='alert')
                                = errors.repetida_password.message                            
                    br
                    button.btn.btn-primary.btn-lg.btn-block(type='submit') Registrar usuario